:root {
	--main-color: SteelBlue;
  }

body {
	font-size: 150%;
	font-family: sans-serif;
}

.title {
	margin-left: 20%;
	
}

.container {
	position: relative;
	margin: 20px;
	padding: 20px;
	padding-left: 40px;
	width: 800px;
	background: none;
	border: 1px black solid;
	border-radius: 10px;
	box-shadow: 1px 1px 5px var(--main-color);
}

.container > h2 {
	color: var(--main-color);
	text-transform: uppercase;
	position: absolute;
	text-align: left;
	top: 0;
	right: 3%;
	font-size: 70%;
}

.container p {
	position: relative;
}

.container p::before {
	content: "";
	position: absolute;
	left: -10px;
	top: 10px;
	width: 5px;
	height: 5px;
	background: var(--main-color);
}

.container a {
	text-decoration: none;
	color: black;
}

.container a:hover {
	color: var(--main-color);
	text-decoration: underline;
}

.bg {
    z-index: -1;
	position: absolute;
	top: 10px;
    width: 100%;
    height: 800px;
    padding-top: 1px;
}

.circle1, .circle2 {
    width: 15px;
    height: 15px;
    margin-top: 10px;    
    animation-name: circle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.circle1 {
    animation-direction: alternate;
}
.circle2 {
    animation-direction: alternate-reverse;
}

@keyframes circle {
    0% {
        background-color: var(--main-color);
        margin-left: 3%;
        border-radius: 50%;
    }
    50% {
        background-color: #00abff;;
        margin-left: 4%;
        border-radius: 0%;
    }
    100% {
        background-color: lightgray;
        margin-left: 5%;
        border-radius: 50%;
    }
}
